* text=auto !eol
/LICENSE.txt -text
jstuff-core/pom.xml -text
jstuff-core/src/main/java/net/sf/jstuff/core/Assert.java -text
jstuff-core/src/main/java/net/sf/jstuff/core/CryptoUtils.java -text
jstuff-core/src/main/java/net/sf/jstuff/core/Filter.java -text
jstuff-core/src/main/java/net/sf/jstuff/core/ImageUtils.java -text
jstuff-core/src/main/java/net/sf/jstuff/core/Invocable.java -text
jstuff-core/src/main/java/net/sf/jstuff/core/Logger.java -text
jstuff-core/src/main/java/net/sf/jstuff/core/Mutable.java -text
jstuff-core/src/main/java/net/sf/jstuff/core/OSUtils.java -text
jstuff-core/src/main/java/net/sf/jstuff/core/ObjectCache.java -text
jstuff-core/src/main/java/net/sf/jstuff/core/Profiler.java -text
jstuff-core/src/main/java/net/sf/jstuff/core/StackTraceUtils.java -text
jstuff-core/src/main/java/net/sf/jstuff/core/StringUtils.java -text
jstuff-core/src/main/java/net/sf/jstuff/core/ThreadUtils.java -text
jstuff-core/src/main/java/net/sf/jstuff/core/URLClassLoaderExt.java -text
jstuff-core/src/main/java/net/sf/jstuff/core/collection/ArrayUtils.java -text
jstuff-core/src/main/java/net/sf/jstuff/core/collection/CollectionUtils.java -text
jstuff-core/src/main/java/net/sf/jstuff/core/collection/FIFOMap.java -text
jstuff-core/src/main/java/net/sf/jstuff/core/collection/IdentitySet.java -text
jstuff-core/src/main/java/net/sf/jstuff/core/collection/LRUMap.java -text
jstuff-core/src/main/java/net/sf/jstuff/core/collection/LinkedSet.java -text
jstuff-core/src/main/java/net/sf/jstuff/core/collection/MapWithCollections.java -text
jstuff-core/src/main/java/net/sf/jstuff/core/collection/MapWithLists.java -text
jstuff-core/src/main/java/net/sf/jstuff/core/collection/MapWithQueues.java -text
jstuff-core/src/main/java/net/sf/jstuff/core/collection/MapWithSets.java -text
jstuff-core/src/main/java/net/sf/jstuff/core/collection/WeakHashSet.java -text
jstuff-core/src/main/java/net/sf/jstuff/core/collection/WeakIdentityHashMap.java -text
jstuff-core/src/main/java/net/sf/jstuff/core/collection/WeakIdentitySet.java -text
jstuff-core/src/main/java/net/sf/jstuff/core/comparator/BooleanComparator.java -text
jstuff-core/src/main/java/net/sf/jstuff/core/comparator/DateComparator.java -text
jstuff-core/src/main/java/net/sf/jstuff/core/comparator/NumberComparator.java -text
jstuff-core/src/main/java/net/sf/jstuff/core/comparator/PropertyComparator.java -text
jstuff-core/src/main/java/net/sf/jstuff/core/comparator/ReverseComparator.java -text
jstuff-core/src/main/java/net/sf/jstuff/core/comparator/StringComparator.java -text
jstuff-core/src/main/java/net/sf/jstuff/core/comparator/ToStringComparator.java -text
jstuff-core/src/main/java/net/sf/jstuff/core/date/DateUtils.java -text
jstuff-core/src/main/java/net/sf/jstuff/core/date/Day.java -text
jstuff-core/src/main/java/net/sf/jstuff/core/date/ImmutableDate.java -text
jstuff-core/src/main/java/net/sf/jstuff/core/date/Month.java -text
jstuff-core/src/main/java/net/sf/jstuff/core/event/EventListenable.java -text
jstuff-core/src/main/java/net/sf/jstuff/core/event/EventListener.java -text
jstuff-core/src/main/java/net/sf/jstuff/core/event/EventManager.java -text
jstuff-core/src/main/java/net/sf/jstuff/core/event/EventManagerWithHistory.java -text
jstuff-core/src/main/java/net/sf/jstuff/core/event/EventUtils.java -text
jstuff-core/src/main/java/net/sf/jstuff/core/event/FilteringEventListener.java -text
jstuff-core/src/main/java/net/sf/jstuff/core/io/BufferedInputStreamExt.java -text
jstuff-core/src/main/java/net/sf/jstuff/core/io/BufferedOutputStreamExt.java -text
jstuff-core/src/main/java/net/sf/jstuff/core/io/CharSequenceReader.java -text
jstuff-core/src/main/java/net/sf/jstuff/core/io/FileModificationMonitor.java -text
jstuff-core/src/main/java/net/sf/jstuff/core/io/FileUtils.java -text
jstuff-core/src/main/java/net/sf/jstuff/core/io/IOUtils.java -text
jstuff-core/src/main/java/net/sf/jstuff/core/io/SerializationUtils.java -text
jstuff-core/src/main/java/net/sf/jstuff/core/localization/DateFormatStyle.java -text
jstuff-core/src/main/java/net/sf/jstuff/core/localization/DateTimeHelper.java -text
jstuff-core/src/main/java/net/sf/jstuff/core/localization/NumberHelper.java -text
jstuff-core/src/main/java/net/sf/jstuff/core/net/AbstractServer.java -text
jstuff-core/src/main/java/net/sf/jstuff/core/net/NetUtils.java -text
jstuff-core/src/main/java/net/sf/jstuff/core/net/SSLUtils.java -text
jstuff-core/src/main/java/net/sf/jstuff/core/reflection/AccessingFieldValueFailedException.java -text
jstuff-core/src/main/java/net/sf/jstuff/core/reflection/BeanUtils.java -text
jstuff-core/src/main/java/net/sf/jstuff/core/reflection/InvokingMethodFailedException.java -text
jstuff-core/src/main/java/net/sf/jstuff/core/reflection/ReflectionException.java -text
jstuff-core/src/main/java/net/sf/jstuff/core/reflection/ReflectionUtils.java -text
jstuff-core/src/main/java/net/sf/jstuff/core/reflection/SerializableConstructor.java -text
jstuff-core/src/main/java/net/sf/jstuff/core/reflection/SerializableField.java -text
jstuff-core/src/main/java/net/sf/jstuff/core/reflection/SerializableMethod.java -text
jstuff-core/src/main/java/net/sf/jstuff/core/reflection/SetAccessibleAction.java -text
jstuff-core/src/main/resources/net/sf/jstuff/core/date/Day.properties -text
jstuff-core/src/main/resources/net/sf/jstuff/core/date/Day_de.properties -text
jstuff-core/src/main/resources/net/sf/jstuff/core/date/Month.properties -text
jstuff-core/src/main/resources/net/sf/jstuff/core/date/Month_de.properties -text
jstuff-core/src/test/java/net/sf/jstuff/core/AssertTest.java -text
jstuff-core/src/test/java/net/sf/jstuff/core/StringUtilsTest.java -text
jstuff-core/src/test/java/net/sf/jstuff/core/comparator/PropertyComparatorTest.java -text
jstuff-core/src/test/java/net/sf/jstuff/core/event/EventTest.java -text
jstuff-core/src/test/java/net/sf/jstuff/core/io/CharSequenceReaderTest.java -text
jstuff-core/src/test/java/net/sf/jstuff/core/io/FileUtilsTest.java -text
jstuff-core/src/test/java/net/sf/jstuff/core/localization/DateTimeHelperTest.java -text
jstuff-core/src/test/java/net/sf/jstuff/core/localization/NumberHelperTest.java -text
jstuff-core/src/test/java/net/sf/jstuff/core/net/NetUtilsTest.java -text
jstuff-core/src/test/java/net/sf/jstuff/core/reflection/ReflectionUtilsTest.java -text
jstuff-integration/pom.xml -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/atom/blog/AtomBlog.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/atom/blog/AtomBlogEntry.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/atom/blog/AtomBlogException.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/atom/blog/AtomBlogPostEntryResponseReader.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/atom/blog/AtomBlogUtils.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/atom/blog/AtomBlogsReader.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/atom/blog/DeletingAtomBlogEntryFailedException.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/atom/blog/PublishingAtomBlogEntryFailedException.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/atom/blog/ReceivingAtomBlogsFailedException.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/atom/feed/AtomCategory.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/atom/feed/AtomEntry.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/atom/feed/AtomFeed.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/atom/feed/AtomFeedExporter.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/atom/feed/AtomLink.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/atom/feed/AtomPerson.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/atom/feed/AtomText.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/atom/feed/AtomTextConverter.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/atom/feed/SimpleEntry.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/auth/AlreadyAuthenticatedException.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/auth/AuthListener.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/auth/AuthService.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/auth/AuthServiceImpl.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/auth/Authentication.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/auth/AuthenticationFailedException.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/auth/AuthenticationHolder.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/auth/AuthenticationImpl.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/auth/Authenticator.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/auth/AuthenticatorLDAPImpl.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/auth/AuthenticatorTomcatImpl.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/auth/PermissionDeniedException.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/auth/SecurityFilter.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/auth/UnknownApplicationRoleException.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/cache/EhcacheSupport.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/jmx/JMXUtils.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/json/ExtJSUtils.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/json/JSONUtils.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/json/SMDServiceExporter.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/json/SMDServiceExporterWithParanamer.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/ldap/LDAPTemplate.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/ldap/LDAPUtils.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/mail/MailUtils.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/persistence/JDBCResourcesCloser.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/persistence/SQLUtils.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/persistence/h2/H2ServerSpringBean.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/persistence/hibernate/FixedLengthStringOIDGenerator.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/persistence/hibernate/IntegerOIDGenerator.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/persistence/query/JPQLOrderByBuilder.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/persistence/query/SortBy.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/persistence/query/SortDirection.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/persistence/spring/BeanResultSetExtractor.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/persistence/spring/BeanRowMapper.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/rest/AbstractRESTServiceExporter.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/rest/AbstractRESTServiceExporterWithParanamer.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/rest/HTTPRequestMethod.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/rest/RESTResourceAction.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/rest/RESTResourceActionDescriptor.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/rest/RESTServiceDescriptor.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/rest/RESTServiceError.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/rest/RESTServiceExporterXStreamImpl.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/rest/REST_DELETE.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/rest/REST_GET.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/rest/REST_HEAD.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/rest/REST_POST.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/rest/REST_PUT.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/servlet/CountingHttpSessionListener.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/servlet/HttpServletResponseStringWrapper.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/servlet/ResponseHeaderSettingFilter.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/servlet/ServletUtils.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/spring/BeanLocator.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/spring/HttpInvokerServicesServlet.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/spring/SpringInjector.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/userregistry/GroupDetails.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/userregistry/GroupDetailsImpl.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/userregistry/GroupDetailsService.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/userregistry/GroupDetailsServiceLDAPImpl.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/userregistry/UserDetails.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/userregistry/UserDetailsImpl.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/userregistry/UserDetailsService.java -text
jstuff-integration/src/main/java/net/sf/jstuff/integration/userregistry/UserDetailsServiceLDAPImpl.java -text
jstuff-xml/pom.xml -text
jstuff-xml/src/main/java/net/sf/jstuff/xml/DOMFile.java -text
jstuff-xml/src/main/java/net/sf/jstuff/xml/DOMUtils.java -text
jstuff-xml/src/main/java/net/sf/jstuff/xml/StAXUtils.java -text
jstuff-xml/src/main/java/net/sf/jstuff/xml/XMLException.java -text
/pom.xml -text
