/.*
/.project
/.settings
jstuff-core/.*
jstuff-core/.classpath
jstuff-core/.project
jstuff-core/.settings
jstuff-core/pom.xml.releaseBackup
jstuff-core/target
jstuff-integration/.*
jstuff-integration/.classpath
jstuff-integration/.project
jstuff-integration/.settings
jstuff-integration/pom.xml.releaseBackup
jstuff-integration/target
jstuff-xml/.*
jstuff-xml/.classpath
jstuff-xml/.project
jstuff-xml/.settings
jstuff-xml/pom.xml.releaseBackup
jstuff-xml/target
/pom.xml.releaseBackup
/release.properties
/target
